{
  "openapi": "3.1.0",
  "info": {
    "title": "Diga API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.diga.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/call/": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "List all calls",
        "description": "Retrieve a paginated list of calls for the company. Supports filtering by status, date range, and other criteria. Includes recording URLs when available.",
        "operationId": "list_calls_v1_call__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Agent Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CallStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CallType"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "start_created_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Created Date"
            }
          },
          {
            "name": "end_created_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Created Date"
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Contact Id"
            }
          },
          {
            "name": "phone_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Phone Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_CallResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid field",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "NOT_VALID_FIELD",
                  "message": "Invalid field value in query parameters"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Missing required permissions to view calls"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Invalid pagination",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVALID_PAGINATION_PARAMETERS",
                  "message": "Cannot specify both 'before' and 'after' parameters"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Make outbound call",
        "description": "Initiate an outbound call using the outbound agent associated with the specified phone number. Only Spanish phone numbers are supported.",
        "operationId": "make_call_v1_call__post",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid phone number",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "NON_SPANISH_PHONE_NUMBER",
                  "message": "Phone number +1234567890 is not a Spanish phone number"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or phone number not verified",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Missing required permissions to create calls"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Phone Number Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PHONE_NUMBER_NOT_FOUND",
                  "message": "Phone number +34600000000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed - SIP config missing",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "SIP_CONFIG_NOT_SET",
                  "message": "SIP configuration not set for this project"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call/{id}": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Get call by ID",
        "description": "Retrieve detailed information about a specific call including transcription summary, duration, cost, and recording URL if available.",
        "operationId": "get_call_v1_call__id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Call ID",
              "description": "The unique identifier for the call"
            },
            "description": "The unique identifier for the call"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Missing required permissions to view calls"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Call Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "CALL_NOT_FOUND",
                  "message": "Call 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call/concurrency/stream": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Stream the company's live concurrent-call count (SSE)",
        "description": "Server-sent events stream emitting `data: {\"active_calls\": N}` every few seconds (also acting as a keepalive). The count is the company's current simultaneous calls, read from the slot ledger; pair it with `max_concurrent_calls` from the subscription endpoint.",
        "operationId": "stream_concurrency_v1_call_concurrency_stream_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/call/{id}/message": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Get call messages/transcription",
        "description": "Retrieve the paginated transcription messages for a specific call, showing the conversation between the agent and the caller.",
        "operationId": "get_call_messages_v1_call__id__message_get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "ID",
              "description": "The unique identifier for the call"
            },
            "description": "The unique identifier for the call"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_MessageResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid ID",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "MISSING_ID",
                  "message": "Invalid call ID"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Api Key",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVALID_API_KEY",
                  "message": "Invalid or missing API key"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Missing required permissions to view calls"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "No Messages For Call",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "NO_MESSAGES_FOR_CALL",
                  "message": "No messages found for call 550e8400-e29b-41d4-a716-446655440000"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Invalid pagination",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVALID_PAGINATION_PARAMETERS",
                  "message": "Cannot specify both 'before' and 'after' parameters"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call/bulk-delete": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Bulk delete calls",
        "description": "Delete multiple terminal calls scoped to the requesting company. Messages linked to each deleted call are cascade-deleted; call_log entries survive with call_id set to NULL for audit preservation. Active calls are ignored.",
        "operationId": "bulk_delete_calls_v1_call_bulk_delete_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeleteCallResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Missing required permissions to delete calls"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/recording/{call_id}": {
      "get": {
        "tags": [
          "Recordings"
        ],
        "summary": "Get Recording",
        "description": "Retrieve a call recording by its id.",
        "operationId": "get_recording_v1_recording__call_id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Call ID",
              "description": "The unique identifier for the call"
            },
            "description": "The unique identifier for the call"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recording/bulk": {
      "post": {
        "tags": [
          "Recordings"
        ],
        "summary": "Bulk download recordings",
        "description": "Download multiple call recordings as a ZIP file.",
        "operationId": "bulk_download_recordings_v1_recording_bulk_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRecordingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bulk Download Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "BULK_DOWNLOAD_LIMIT_EXCEEDED",
                  "message": "Bulk download is limited to 50 recordings"
                }
              }
            }
          },
          "404": {
            "description": "No Recordings Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "NO_RECORDINGS_FOUND",
                  "message": "None of the requested calls have recordings available"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/project/": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Projects",
        "description": "Retrieve a paginated list of all projects where the authenticated user is a member.",
        "operationId": "list_projects_v1_project__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_ProjectResponseSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid field values",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "NOT_VALID_FIELD",
                  "message": "Some values are not valid. Review the fields of the petition"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Invalid pagination",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVALID_PAGINATION_PARAMETERS",
                  "message": "Cannot specify both 'before' and 'after' parameters"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Project",
        "description": "Create a new project and automatically assign the authenticated user as admin.",
        "operationId": "create_project_v1_project__post",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Project",
        "description": "Retrieve detailed information about a specific project by its ID.",
        "operationId": "get_project_v1_project__id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Project",
        "description": "Update an existing project's information. Only the fields provided will be updated.",
        "operationId": "update_project_v1_project__id__patch",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Unathorized Role",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "UNATHORIZED_ROLE",
                  "message": "You are not authorized to update this project"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Project",
        "description": "Permanently delete a project and all associated data.",
        "operationId": "delete_project_v1_project__id__delete",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Last Project",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "LAST_PROJECT",
                  "message": "Cannot delete the last project"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Unathorized Role",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "UNATHORIZED_ROLE",
                  "message": "You are not authorized to delete this project"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/{project_id}/member/me": {
      "get": {
        "tags": [
          "Project Members"
        ],
        "summary": "Get current member",
        "description": "Retrieve the current user's membership details, role, and permissions for the project.",
        "operationId": "get_current_member_v1_project__project_id__member_me_get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/{project_id}/member/{profile_id}": {
      "get": {
        "tags": [
          "Project Members"
        ],
        "summary": "Get project member",
        "description": "Retrieve details of a specific member in a project, including their assigned role and permissions.",
        "operationId": "get_project_member_v1_project__project_id__member__profile_id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          },
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponseSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Missing required permissions to view members"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Project Members"
        ],
        "summary": "Remove project member",
        "description": "Remove a member from the project permanently.",
        "operationId": "remove_project_member_v1_project__project_id__member__profile_id__delete",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          },
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Cannot Remove Last Admin",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "CANNOT_REMOVE_LAST_ADMIN",
                  "message": "Cannot remove the last admin from project 550e8400-e29b-41d4-a716-446655440000"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Member Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "MEMBER_NOT_FOUND",
                  "message": "Member 660e8400-e29b-41d4-a716-446655440001 not found in project 550e8400-e29b-41d4-a716-446655440000"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/{project_id}/member": {
      "get": {
        "tags": [
          "Project Members"
        ],
        "summary": "List project members",
        "description": "Retrieve a paginated list of all members in a project with their assigned roles and permissions.",
        "operationId": "list_project_members_v1_project__project_id__member_get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_MemberResponseSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid pagination",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Invalid pagination parameters"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/{project_id}/member/{profile_id}/role": {
      "patch": {
        "tags": [
          "Project Members"
        ],
        "summary": "Update member role",
        "description": "Change a project member's role (e.g., from member to admin or vice versa).",
        "operationId": "update_member_role_v1_project__project_id__member__profile_id__role_patch",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          },
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Cannot Remove Last Admin",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "CANNOT_REMOVE_LAST_ADMIN",
                  "message": "Cannot demote the last admin in project 550e8400-e29b-41d4-a716-446655440000"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project or member not found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "MEMBER_NOT_FOUND",
                  "message": "Member 660e8400-e29b-41d4-a716-446655440001 not found in project 550e8400-e29b-41d4-a716-446655440000"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/invitation/{invitation_id}": {
      "get": {
        "tags": [
          "Project Invitations"
        ],
        "summary": "Get invitation details",
        "description": "Retrieve detailed information about a specific project invitation.",
        "operationId": "get_invitation_v1_project_invitation__invitation_id__get",
        "parameters": [
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Invitation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "410": {
            "description": "Invitation expired",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVITATION_EXPIRED",
                  "message": "Invitation 660e8400-e29b-41d4-a716-446655440001 has expired"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Project Invitations"
        ],
        "summary": "Delete invitation",
        "description": "Remove a pending invitation from the project.",
        "operationId": "delete_invitation_v1_project_invitation__invitation_id__delete",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Invitation Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/invitation/send": {
      "post": {
        "tags": [
          "Project Invitations"
        ],
        "summary": "Send project invitation",
        "description": "Send an email invitation to a user to join your project.",
        "operationId": "send_invitation_mail_v1_project_invitation_send_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationCreateSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "INVALID_EMAIL",
                  "message": "The email invalid@email is not valid"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                }
              }
            }
          },
          "409": {
            "description": "User already in project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "PROFILE_ALREADY_IN_PROJECT",
                  "message": "Profile with email user@example.com is already in the company"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/project/invitation/send/bulk": {
      "post": {
        "tags": [
          "Project Invitations"
        ],
        "summary": "Send bulk project invitations",
        "description": "Send multiple email invitations to users to join your project. Uses batch email sending to avoid rate limits.",
        "operationId": "send_bulk_invitation_mail_v1_project_invitation_send_bulk_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkInvitationCreateSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkInvitationResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Project Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "PROJECT_NOT_FOUND",
                  "message": "Project 550e8400-e29b-41d4-a716-446655440000 not found"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/project/invitation/{invitation_id}/join": {
      "post": {
        "tags": [
          "Project Invitations"
        ],
        "summary": "Accept invitation and join project",
        "description": "Accept a project invitation and become a member of the project.",
        "operationId": "join_project_v1_project_invitation__invitation_id__join_post",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Invitation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Invitation Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVITATION_NOT_FOUND",
                  "message": "No invitation found for id 660e8400-e29b-41d4-a716-446655440001"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/{project_id}/invitation/{invitation_id}/role": {
      "patch": {
        "tags": [
          "Project Invitations"
        ],
        "summary": "Update invitation role",
        "description": "Change the role assigned to a pending invitation before it's accepted.",
        "operationId": "change_invitation_role_v1_project__project_id__invitation__invitation_id__role_patch",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Invitation Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeInvitationRoleSchema"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Invitation Not Found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INVITATION_NOT_FOUND",
                  "message": "Invitation 660e8400-e29b-41d4-a716-446655440001 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "INTERNAL_SERVER_ERROR",
                  "message": "Error: Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/role/": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "List all available roles",
        "description": "Retrieve a complete list of all roles available in the system with their permissions.",
        "operationId": "list_roles_v1_role__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RoleResponseSchema"
                  },
                  "type": "array",
                  "title": "Response List Roles V1 Role  Get"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "example": {
                  "status": "error",
                  "error_code": "UNAUTHORIZED",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/role/{role_id}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get role details",
        "description": "Retrieve detailed information about a specific role by its ID.",
        "operationId": "get_role_v1_role__role_id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Role Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "404": {
            "description": "Role not found",
            "content": {
              "application/json": {
                "example": {
                  "status": "error",
                  "error_code": "NOT_FOUND",
                  "message": "Role with id 550e8400-e29b-41d4-a716-446655440000 not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge/usage": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "Get Knowledge Usage",
        "description": "Get knowledge storage usage for the current company.\nReturns used bytes, limit bytes, and item count.",
        "operationId": "get_knowledge_usage_v1_knowledge_usage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeStorageUsageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/knowledge/base/": {
      "get": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "List Knowledge Bases",
        "description": "List all knowledge bases for the current company with pagination.\n\nFilters:\n    - name: case-insensitive partial match",
        "operationId": "list_knowledge_bases_v1_knowledge_base__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Agent Id"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_KnowledgeBaseResponseSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Create Knowledge Base",
        "description": "Create a new knowledge base from existing knowledge items",
        "operationId": "create_knowledge_base_v1_knowledge_base__post",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeBaseCreateSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge/base/{id}": {
      "get": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Get Knowledge Base",
        "description": "Retrieve a specific knowledge base by ID",
        "operationId": "get_knowledge_base_v1_knowledge_base__id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Update Knowledge Base",
        "description": "Update a knowledge base",
        "operationId": "update_knowledge_base_v1_knowledge_base__id__patch",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeBaseUpdateSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseResponseSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Knowledge Bases"
        ],
        "summary": "Delete Knowledge Base",
        "description": "Delete a knowledge base.\n\nIf the base contains knowledge items, returns 409 Conflict unless force=true.\nWhen force=true, the base and all its items are deleted.",
        "operationId": "delete_knowledge_base_v1_knowledge_base__id__delete",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Force"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge/item/": {
      "get": {
        "tags": [
          "Knowledge Items"
        ],
        "summary": "List Knowledge Items",
        "description": "List all knowledge items for the current company with pagination.\n\nFilters:\n    - status: filter items by status (indexing, uploaded, error)\n    - category: filter items by category (file, txt, url)\n    - name: case-insensitive partial match",
        "operationId": "list_knowledge_items_v1_knowledge_item__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/KnowledgeItemStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/KnowledgeItemCategory"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "knowledge_base_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Knowledge Base Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Annotated_Union_FileKnowledgeItemResponse__URLKnowledgeItemResponse__TextKnowledgeItemResponse___FieldInfo_annotation_NoneType__required_True__discriminator__category____"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge/item/file": {
      "post": {
        "tags": [
          "Knowledge Items"
        ],
        "summary": "Upload Knowledge Items",
        "description": "Upload knowledge files to the system.\nSend as multipart/form-data with one or more of:\n- File upload: name, category, file",
        "operationId": "upload_knowledge_items_v1_knowledge_item_file_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/knowledge/item/url": {
      "post": {
        "tags": [
          "Knowledge Items"
        ],
        "summary": "Upload Url Items",
        "description": "Index web URLs as knowledge items.\nEach URL is crawled, parsed, and indexed asynchronously.",
        "operationId": "upload_url_items_v1_knowledge_item_url_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/URLKnowledgeItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/URLUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/knowledge/item/text": {
      "post": {
        "tags": [
          "Knowledge Items"
        ],
        "summary": "Upload Text Item",
        "description": "Create a knowledge item from raw text content.\nThe text is stored in the database and indexed asynchronously.",
        "operationId": "upload_text_item_v1_knowledge_item_text_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextKnowledgeItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextKnowledgeItemResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ]
      }
    },
    "/v1/knowledge/item/{id}": {
      "get": {
        "tags": [
          "Knowledge Items"
        ],
        "summary": "Get Knowledge Item",
        "description": "Retrieve a specific knowledge item by ID",
        "operationId": "get_knowledge_item_v1_knowledge_item__id__get",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/FileKnowledgeItemResponse"
                    },
                    {
                      "$ref": "#/components/schemas/URLKnowledgeItemResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TextKnowledgeItemResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "category",
                    "mapping": {
                      "file": "#/components/schemas/FileKnowledgeItemResponse",
                      "url": "#/components/schemas/URLKnowledgeItemResponse",
                      "txt": "#/components/schemas/TextKnowledgeItemResponse"
                    }
                  },
                  "title": "Response Get Knowledge Item V1 Knowledge Item  Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Knowledge Items"
        ],
        "summary": "Delete Knowledge Item",
        "description": "Delete a knowledge item",
        "operationId": "delete_knowledge_item_v1_knowledge_item__id__delete",
        "security": [
          {
            "CustomHTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
[...]
